// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.opensans {
  font-family: Open Sans-serif;
  font-weight: 600;
  text-align: center;
}
.button_upload {
  padding: 0 10px !important;
  font-size: 10px !important;
  height: 20px !important;
}