// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.opensans {
  font-family: Open Sans-serif;
  font-weight: 600;
  text-align: center;
}
.button_upload {
  padding: 0 10px !important;
  font-size: 10px !important;
  height: 20px !important;
}

$btnf: #fff;
$fb: #47c;
$tw: #0cf;
$gp: #d43;
$am: #fa0;
$ya: #c4c;

.btnf* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btnf:before, .btnf:after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
}

.section {
  padding: 20px;
  border-bottom: 1px solid #aaa;
}

.btnf {
  position: relative;
  display: block;
  width: 210px;
  height: 40px;
  font: 700 16px/40px 'Quattrocento Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #555;
  border-radius: 2px;
  background: linear-gradient(to bottom, $btnf 0%, darken($btnf, 10%) 100%);
  box-shadow: 0 1px 1px rgba(0,0,0,.5);
  cursor: pointer;
}

.btnf span {
  font-size: 14px;
  text-transform: none;
  color: #aaa;
}

.btnf:before {
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  font: 20px/40px entypo;
  text-align: center;
  color: #fff;
  border-radius: 2px 0 0 2px;
}
.btnf.fb {
  font-weight: 600;
  padding-left: 45px;
}
.btnf.fb:before {
  content: '\f30c';
  background: linear-gradient(to bottom, $fb 0%, darken($fb, 10%) 100%);
}

.btnf.tw:before {
  content: '\f309';
  background: linear-gradient(to bottom, $tw 0%, darken($tw, 10%) 100%);
}

.btnf.gp:before {
  content: '\f30f';
  background: linear-gradient(to bottom, $gp 0%, darken($gp, 10%) 100%);
}

.btnf.am:before {
  content: 'a';
  font-family: zocial;
  text-transform: none;
  background: linear-gradient(to bottom, $am 0%, darken($am, 10%) 100%);
}

.btnf.ya:before {
  content: 'Y';
  font-family: zocial;
  text-transform: none;
  background: linear-gradient(to bottom, $ya 0%, darken($ya, 10%) 100%);
}

.btnf:hover {
  text-shadow: 0 0 10px #fff;
}

/* reverse */

.btnf.reverse {
  color: #fff;
}

.btnf.reverse span {
  color: #eee;
}

.btnf.fb.reverse {
  background: linear-gradient(to bottom, $fb 0%, darken($fb, 10%) 100%);
}

.btnf.tw.reverse {
  background: linear-gradient(to bottom, $tw 0%, darken($tw, 10%) 100%);
}

.btnf.gp.reverse {
  background: linear-gradient(to bottom, $gp 0%, darken($gp, 10%) 100%);
}

.btnf.am.reverse {
  background: linear-gradient(to bottom, $am 0%, darken($am, 10%) 100%);
}

.btnf.ya.reverse {
  background: linear-gradient(to bottom, $ya 0%, darken($ya, 10%) 100%);
}

.btnf.reverse:before {
  color: #555;
  background: linear-gradient(to bottom, $btnf 0%, darken($btnf, 10%) 100%);
}

/* naked */

.btnf.naked:before {
  border-right: 1px solid #aaa;
  background: none;
}

.btnf.fb.naked:before {
  color: darken($fb, 5%);
}

.btnf.tw.naked:before {
  color: darken($tw, 5%);
}

.btnf.gp.naked:before {
  color: darken($gp, 5%);
}

.btnf.am.naked:before {
  color: darken($am, 5%);
}

.btnf.ya.naked:before {
  color: darken($ya, 5%);
}
.input_new_comment {
  border-radius: 4px 0 0 4px;
  border: 0;
  width: 70%;
  height: 28px;
  font-size: 14px;
  padding: 5px 10px;
}